<nav class="navbar" role="navigation">
	<div class="container-fluid">
		<div class="navbar-header">
			<button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target=".nav-collapse">
				<span class="sr-only">Toggle navigation</span>
				<span class="icon-bar"></span>
				<span class="icon-bar"></span>
				<span class="icon-bar"></span>
			</button>
			<a class=" brand" href="#URL_SITE_SPIP" alt="Cliquez sur le lien pour revenir à la page d'accueil">
				[(#LOGO_SITE_SPIP|inserer_attribut{alt, #NOM_SITE_SPIP|attribut_html}|sinon{#NOM_SITE_SPIP})]
			</a>
		</div>
		<div class="navbar-collapse collapse pull-right">
			<ul class="nav navbar-nav">
				<BOUCLE_racine(RUBRIQUES){racine}>
					<li[ (#EXPOSE{class="active"})]><a 
						href="#URL_RUBRIQUE"[ title="(#TITRE|attribut_html|couper{80})"]>#TITRE</a></li>
				</BOUCLE_racine>
			</ul>
		</div><!--/.navbar-collapse -->
	</div><!--/.container-fluid-->
</nav>