		<script src="//ajax.googleapis.com/ajax/libs/jquery/1.9.1/jquery.min.js"></script>
		<script>window.jQuery || document.write('<script[ src="(#CHEMIN{js/lib/jquery-1.9.1.min.js})"]><\/script>')</script>

[		<script src="(#CHEMIN{js/lib/jquery.slideshow.min.js})"></script>]
[		<script src="(#CHEMIN{js/pull-down.js}|compacte)"></script>]
[		<script src="(#CHEMIN{js/pull-right.js}|compacte)"></script>]
[		<script src="(#CHEMIN{js/magnifie.js}|compacte)"></script>]
[		<script src="(#CHEMIN{js/main.js}|compacte)?2"></script>]