body {
	background-color: #eee;
}

.row img {
	max-width: 100%;
	height: auto;
}


a {
	color: purple;
}

h2 {
	font-size: 12px;
}

body.accueil .nouveautes h2 {
	color: orange;
	font-weight: lighter;
}

body.accueil .actualites h2 {
	color: pink;
}


/* utils */
#spip-admin.spip-admin-float {
	bottom: 0;
	top: inherit;
}